/* タイトル */
h1
{
    color: #C9F;
    margin: 0.5em;
    text-align: center;
    font-size: 1em;
}

/* 接続ボタンを囲うもの */
#wrap-connect
{
    text-align: center;
}

/* 接続ボタン */
#connect
{
    background-color: #009;
    color: #CCF;
    border-color: #CCF;
    width: 12em;
}

/* 機器リスト */
#list
{
    text-align: center;
    margin: 0.5em;
}

/* バイト値欄と書き込みボタンを囲うもの */
form
{
    margin: 0.5em;
}

/* 値入力欄 */
input[type="text"]
{
    background-color: #FFF;
    color: #000;
    width: 4em;
    padding: 0.25em;
    margin: 0 0.25em;
    border-radius: 0.25em;
    border-style: none;
    display: inline-block;
    font-size: 1em;
}

/* ボタン */
input[type="button"],
input[type="submit"]
{
    background-color: #999;
    color: #FFF;
    border-color: #FFF;
    width: 8em;
    padding: 0.25em 0;
    margin: 0 0.25em;
    border-radius: 0.25em;
    border-style: none;
    font-size: 1em;
}

/* 押下時のボタン */
input[type="button"]:active,
input[type="submit"]:active
{
    padding: 0;
    border-style: solid;
    border-width: 0.25em;
}

/* 値書き込みボタン */
.UFOSA.button
{
    background-color: #60C;
}
.UFO-TW.button
{
    background-color: #C0C;
}
.CycSA.button
{
    background-color: #06C;
}
.VorzePiston.button
{
    background-color: #00C;
}

/* 開閉ボタンを囲うもの */
.open-close-div
{
    color: #C9F;
    margin: 0.5em 0.5em;
    text-align: center;
}

/* 強調表示 */
em
{
    background-color: #639;
    color: #C9F;
    font-style: normal;
    font-weight: normal;
    padding: 0 0.25em;
    border-radius: 0.25em;
}
.connect
{
    background-color: #009;
    color: #CCF;
    width: 2em;
}
.write
{
    background-color: #60C;
    color: #FFF;
}
.byte
{
    background-color: #FFF;
    color: #333;
}
.topic
{
    background-color: #96C;
    color: #000;
}

/* リンク */
a
{
    background-color: #639;
    color: #C9F;
    padding: 0 0.25em;
    border-radius: 0.25em;
    border-style: none;
    text-decoration: none;
}
a:active
{
    background-color: #C9F;
    color: #639;
}

/* 使い方、リンク開閉ボタン */
#how-to-use-button.opened,
#link-button.opened
{
    background-color: #306;
    color: #96C;
    border-color: #96C;
}
#how-to-use-button,
#link-button
{
    background-color: #96C;
    color: #306;
    border-color: #306;
}

/* 使い方、リンク */
#how-to-use.opened,
#link.opened
{
    background-color: #306;
    color: #C9F;
    padding: 0 0.5em;
    display: block;
    margin: 0 1em;
    border-radius: 0.5em;
    border-style: none;
}
#how-to-use,
#link
{
    display: none;
}

/* ブロック */
div
{
    font-size: 1em;
}

/* 全体 */
body
{
    background-color: #000;
    color: #FFF;
    font-size: 12pt;
    font-family: sans-serif;
}

/* 全ての要素 */
*
{
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 2em;
    box-sizing: border-box;
    touch-action: manipulation;
}