/* 全体を囲うブロック */
#wrap
{
    max-width: 95svmin;
    margin: auto;
}

/* タイトル */
h1
{
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
}

/* 接続ボタンを囲うもの */
#wrap-connect
{
    text-align: center;
}

/* 接続ボタン */
#connect
{
    background-color: #00C;
    color: #FFF;
    padding: 0 0.5em;
    width: 18.5em;
    border-radius: 0.25em;
    border-style: none;
}

/* 機器リスト */
#list
{
    text-align: center;
    margin: 0.5rem;
}

/* バイト値欄と書き込みボタンを囲うもの */
#list div
{
    margin: 0.5rem;
}

/* 値入力欄 */
input[type="text"]
{
    background-color: #FFF;
    color: #000;
    width: 3em;
    padding: 0 0.5em;
    margin: 0 0.25em;
    border-radius: 0.25em;
    border-style: none;
}

/* ボタン */
input[type="button"]
{
    background-color: #999;
    color: #FFF;
    width: 8em;
    padding: 0 0.5em;
    margin: 0 0.25em;
    border-radius: 0.25em;
    border-style: none;
}

/* 値書き込みボタン */
.UFOSA.button
{
    background-color: #609;
}
.UFO-TW.button
{
    background-color: #909;
}
.CycSA.button
{
    background-color: #069;
}
.VorzePiston.button
{
    background-color: #009;
}

/* 押下時のボタン */
input[type="button"]:active
{
    color: #000;
}

/* 第2タイトル */
h2
{
    color: #FFF;
    font-size: 1rem;
}

/* 情報欄 */
#info
{
    color: #999;
    padding: 0.5em;
    margin: 0.5rem;
    border-radius: 0.5em;
    border-style: none;
}

/* 強調表示 */
em
{
    background-color: #333;
    color: #CCC;
    font-style:normal;
    font-weight: normal;
    padding: 0 0.5em;
    border-radius: 0.25em;
}
.connect
{
    background-color: #00C;
    color: #FFF;
    width: 2em;
}
.write
{
    background-color: #666;
    color: #FFF;
}
.topic
{
    background-color: #CCC;
    color: #333;
}

/* 全体 */
body
{
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 100%;
    font-size: 20pt;
    font-family: sans-serif;
}

/* 全体を囲うHTML */
html
{
    width: 100%;
    height: 100%;
}

/* 全ての要素 */
*
{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2em;
    box-sizing: border-box;
    touch-action: manipulation;
}